.body {
    background-color: #f3f4f5;
    text-align: center;
    height: auto;
}

#title {
    color: #454360;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    text-align: left;
    margin-left: 20%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 5%;
}

.image {
    flex: 0.3;
    text-align: center;
    margin-right: 10px;
    /* Reduced margin */

}

#foto {
    border-radius: 25%;
    max-width: 80%;
    height: auto;
}

.card {
    flex: 1;
    max-width: 600px;
    border: none;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    margin-left: 10px;
    /* Added margin to ensure space between image and card */
}

.card:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.card .card-body {
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.CVGroup {
    width: 50%;
}

#resumetitle {
    padding-bottom: 10px;
    font-family: "Rubik", sans-serif;
    font-size: larger;
}

/* Section Services */
.Services {
    height: auto;
    margin-top: 5%;
    padding-top: 2%;
}

.Services .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.knowledge {
    color: aliceblue;
    max-width: calc(33.33% - 70px);
    margin: 0 10px;
    transition: transform 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.card.knowledge:hover {
    transform: translateY(-20px);
}

.cardimg {
    height: 10rem;
    width: 100%;
    padding: 5%;
}

#DataBase {
    background: rgb(108, 108, 229);
}

#Code {
    background: rgb(249, 215, 76);
    color: black;
}

#Analyts {
    background: rgb(249, 123, 139);
}

.cardtitle {
    font-size: 2rem;
    padding-bottom: 4%;
}

@media (max-width: 768px) {
    .body {
        height: auto;
        padding-top: 10%;
    }

    #title {
        text-align: center;
        margin-left: 0%;
    }

    .container {
        flex-direction: column;
    }

    .container .image {
        margin: 0 0 20px 0;
    }

    #foto {
        border-radius: 50%;
        max-width: 50%;
        height: auto;
    }

    .CVGroup {
        width: 100%;
        margin: 0;
    }

    /* Section Services */
    .Services .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2%;
    }

    .knowledge {
        flex: 1 0 100%;
        max-width: 100%;
        margin: 30px 10px;
        box-sizing: border-box;
    }
}

@media (max-width: 1024px) {

    /* Section Services */
    .Services .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5%;
    }

    .knowledge {
        flex: 1 0 100%;
        max-width: 100%;
        margin: 30px 0px;
        box-sizing: border-box;
    }
}

@media (max-width: 576px) {

    /* Section Services */
    .Services .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .knowledge {
        flex: 1 0 100%;
        max-width: 100%;
        margin: 30px 0px;
        box-sizing: border-box;
    }
}